:root {
    --line-color: #aaaaaa;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button {
    border: none;
    height: 32px;
}

.c_header {
    display: flex;
    font-size: 35px;
    justify-content: space-between  ;
    align-items: center;
    padding-bottom: 5px;
    margin: 0px 14px 12px 14px;
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yearTitle::after {
    content: ".";
    margin-right: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 12px 20px 0px 20px;
}

.daies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.date {
    text-align: center;
    width: calc(100%/7);
    padding: 6px 0 6px 0;
    box-sizing: border-box;
    font-weight: bold;
}

.day {
    text-align: center;
    width: calc(100%/7);
    padding: 6px 0 6px 0;
    box-sizing: border-box;
    color: #aaaaaa;
    font-weight: bold;
}

#sunday{color: red;}

.date:nth-child(7n+1) {
    background-color: var(--sun-color);
    color: red;
}

.today {
    position: relative;
    border-radius: 50%;
}

.today::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #e7e7e7;
    width: 35px;
    height: 35px;
    z-index: -1;
}

.prevBtn::before {
    content: "<";
}

.nextBtn::after {
    content: ">";
}
.prevBtn::before,
.nextBtn::after {
    font-size: 35px;
}

.prevBtn,
.nextBtn {
    background-color: white;
    width: 250px;
    height: 40px;
}

.prevBtn:hover,
.nextBtn:hover {
    cursor: pointer;
}

.prevMonthDate,
.nextMonthDate {
    color: #aaaaaa;
}

.prevBtn,
.nextBtn {
    align-self: center; /* Btn들이 title을 기준으로 수직 중앙 정렬되도록 설정 */
}