:root {
    --line-color: #aaaaaa;
    --sat-color: #0a9102;
    --sun-color: #0ba803;
    --today-color: #033c01;
}

body {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    height: 32px;
}

.header {
    display: flex;
    font-size: 48px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 12px;
    margin: 12px 24px 12px 24px;
    border-bottom: 2px solid var(--line-color);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 12px 24px 0px 24px;
}

.daies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.date,
.day {
    text-align: center;
    width: calc(100%/7);
    padding: 16px 0 16px 0;
    box-sizing: border-box;
}

.date:nth-child(7n),
.day:nth-child(7n) {
    background-color: var(--sat-color);
    color: blue;
}

.date:nth-child(7n+1),
.day:nth-child(7n+1) {
    background-color: var(--sun-color);
    color: red;
}

.today {
    border: 2px solid var(--today-color) !important;
}