@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul,li {list-style: none;}
a {text-decoration: none; display: inline-block; cursor: pointer;}
a:link {color: #808080; text-decoration: none;}
a:hover {color: #808080; text-decoration: underline;}
a:active {color: #808080; text-decoration: underline;}
input {line-height: 1.8em;}
img,fieldset {border: none;}
body {font-family: 'Pretendard', 'Roboto', sans-serif; color: #111;}
.eng {font-family: "Roboto", sans-serif !important;}
em {font-style: normal;}
.blind {position: absolute; left: -9999px; font-size: 0;}

table {border-collapse: collapse; border-spacing: 0;}
legend {position: absolute; width: 0; height: 0; line-height: 0; font-size: 0; text-indent: -9999px; overflow: hidden;}
table caption {position: absolute; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden;}
button {border: none; background: none; cursor: pointer;}
hr {display: none;}